.container {
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 130px;
    flex-shrink: 0;
    justify-content: space-between;
}

.nav-one {
    display: flex;
    width: 86.041px;
    height: 40px;
    margin-top: 40px;
    margin-left: 240px;


}

.gamer {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0B0223;
    font-family: Work Sans;

    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 20px;

}

.image-one {
    margin-left: 10px;
    margin-top: 10px;

}

.nav-two {
    align-items: center;
    margin-right: 300px;
    margin-left: 600px;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;

}

.g-one {
    color: #FF42A5;
}




.goat {
    display: flex;
    
}

.play {
    width: 901px;
    height: 700px;
    flex-shrink: 0;
}

.play-two {
    width: 1920px;

}

.play-one {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.new-goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    color: #F948B2;

}

.para-one {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.para-two {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.para-three {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.btn-one {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    text-align: center;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-left: 300px;
    margin-right: auto;

}

.btn-two {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;

}



.games {
    width: 1920px;
    

}

.header-games {
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-right: 500px;
}

.game-para {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-right: 500px;

}

.game-di {
    display: flex;
    gap: 10px;
}

.only-videos {
    color: #8758F1;
}








.footer {
    width: 1400px;
    height: 636px;
    background-color: #0B0223;
    padding: 50px;
    


}

.foot-div {
    display: flex;
    border: 10px;
    align-items: center;
    justify-content: center;
    

}

.g-foot {
    color: #FF42A5;
}

.foot-amer {
    color: #FFFFFF;
}

.nav-feature {
    display: flex;
    padding: 50px;
    align-items:center;
    color: #FFFFFF;margin-left: 450px;
   


}






.foot-terms {
    display: inline-flex;
    padding: 50px;
    color: #FFFFFF;
    margin-left: 450px;
}

.final {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.icon-one{
   color: #FFFFFF;
}




@media screen and (max-width:425px) {

    .container,
    .goat,
    .game-di ,.f{
        flex-direction: column;

    }

    .game-di {
        margin-left: 270px;
    }

    .header-games {
        text-align: center;
    }
    .footer{
        width:400px;
    }
    
}